#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 100%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 20vh;
  border-radius: 30px;
  background-color: rgba(8, 56, 8, 0.192);
  color: rgb(0, 112, 0);
}
/*background-color: rgba(0, 112, 0, 0.041);
  color: rgb(0, 112, 0);*/

.app-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 3rem 0;
  gap: 1.5rem;
}
