#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 100%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: auto;
  border-radius: 30px;
  background-color: antiquewhite;
}

.app-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 3rem 0;
  gap: 1.5rem;
}

.sum-container {
  display: flex;
  justify-content: end;
  width: 50%;
}

.sum-h1-preu-total {
  font-size: 2rem;
}

@media only screen and (max-width: 600px) {
  .sum-container {
    width: 100%;
  }
}

@media only screen and (max-width: 800px) {
  .sum-container {
    width: 80%;
  }
}

@media only screen and (max-width: 1000px) {
  .sum-container {
    width: 70%;
  }
}
