#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 100%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: auto;
  border-radius: 30px;
  background-color: antiquewhite;
}

.app-checkbox-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 3rem 0;
  gap: 2rem;
}
.cb-container {
  box-shadow: 5px 5px 5px 1px rgb(183, 181, 181);
  border-radius: 30px;
  padding: 1rem;
}

.cb-container-border {
  border-bottom: 1.5px solid rgba(0, 112, 0, 0.591);
  border-right: 1.5px solid rgba(0, 112, 0, 0.591);
  box-shadow: 5px 5px 5px 1px rgb(0, 112, 0, 0.591);
  background-color: rgba(0, 112, 0, 0.041);
  transition: background-color 0.3s ease, border-bottom 0.3s ease,
    border-right 0.3s ease, box-shadow 0.3s ease;
}
.cb-container-main {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.cb-description-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 60%;
}
.cb-price-container,
.cb-checkbox-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 30%;
}

.cb-description-container > h2 {
  margin-bottom: 0%;
}
.cb-description-container > p {
  margin-top: 0%;
  text-align: left;
}

.cb-price-container {
  margin-right: 3px;
}
.cb-price-container > strong {
  font-size: 1.8rem;
}

.cb-container-web-options {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.cb-container-web-options-none {
  display: none;
}

.sum-container {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.sum-h1-preu-total {
  font-size: 2rem;
}

@media only screen and (max-width: 600px) {
  .cb-container,
  .sum-container {
    width: 100%;
  }
}

@media only screen and (max-width: 800px) {
  .cb-container,
  .sum-container {
    width: 80%;
  }
}

@media only screen and (max-width: 1000px) {
  .cb-container,
  .sum-container {
    width: 70%;
  }
}
